@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.screen {
  width: 435px;
  height: 650px;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 20px #717171);
  background-color: #fff;
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-color: #b0b0b0;
  padding: 2rem;
  z-index: 2;
}

.progress {
  width: 80%;
  height: 5px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  background-color: #dadada;
}

.growth {
  width: 0%;
  height: 5px;
  position: absolute;
  background-color: #fffefe;
}

.close > i {
  font-size: 2rem;
  color: #dadada;
  position: absolute;
  top: 3%;
  right: 5%;
  opacity: 0.8;
  cursor: pointer;
}

.logo {
  width: 100%;
  height: 60px;
  padding: 15px 25px;
}

.logo > h1 {
  font-family: "Dancing Script", cursive;
}

.stories {
  width: 100%;
  height: 120px;
  white-space: nowrap;
  padding: 5px;
  overflow-y: none;
  overflow-x: auto;
  border-bottom: 1px solid #dadada;
}

.stories::-webkit-scrollbar {
  display: none;
}

.story {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(to right top, #ffcc00, #f72424, #ca01ca);
  padding: 5px;
}

.story > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.post {
  width: 100%;
  height: calc(100% - 180px);
}

.top_post {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0px 15px;
  align-items: center;
}

.post_dp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  background-image: url(https://pbs.twimg.com/profile_images/1009469376490192896/hW_ZFLHm_400x400.jpg);
  background-size: cover;
  background-position: center;
  background-color: #717171;
}

.top_post > h3 {
  font-size: 1rem;
  font-family: poppins;
  font-weight: 400;
}

.post_img {
  width: 100%;
  height: calc(100% - 120px);
  position: relative;
  overflow: hidden;
  border-top: #dadada;
  background-color: #717171;
}

.post_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.post_img > i {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.btm_post {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.btm_post i {
  font-size: 2rem;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .screen {
    width: 100vw;
    height: 100vh;
    margin-top: 1.5rem;
    filter: none;
  }
}
